<table class="table table-hover table-condensed" style="width:1500px;font-size:12px;">
    <tr>
        <th>VendorID</th>
        <th>pickup_datetime</th>
        <th>dropoff_datetime</th>
        <th>passengers</th>
        <th>trip_distance</th>
        <th>pickup_longitude</th>
        <th>pickup_latitude</th>
        <th>dropoff_longitude</th>
        <th>dropoff_latitude</th>
        <th>fare_amount</th>
        <th>tip_amount</th>
    </tr>
    <tr>
        <td>2</td>
        <td>2015-12-01 00:00:00</td>
        <td>2015-12-01 00:05:16</td>
        <td>5</td>
        <td>0.96</td>
        <td>-73.97994</td>
        <td>40.76538</td>
        <td>-73.96631</td>
        <td>40.76309</td>
        <td>5.5</td>
        <td>1.00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>2015-12-01 00:00:00</td>
        <td>2015-12-01 00:00:00</td>
        <td>2</td>
        <td>2.69</td>
        <td>-73.97234</td>
        <td>40.76238</td>
        <td>-73.99363</td>
        <td>40.74600</td>
        <td>21.5</td>
        <td>3.34</td>
    </tr>
    <tr>
        <td>2</td>
        <td>2015-12-01 00:00:00</td>
        <td>2015-12-01 00:00:00</td>
        <td>1</td>
        <td>2.62</td>
        <td>-73.96885</td>
        <td>40.76453</td>
        <td>-73.97455</td>
        <td>40.76453</td>
        <td>17.0</td>
        <td>3.56</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2015-12-01 00:00:01</td>
        <td>2015-12-01 00:05:56</td>
        <td>1</td>
        <td>1.20</td>
        <td>-73.99393</td>
        <td>40.74168</td>
        <td>-73.99767</td>
        <td>40.74747</td>
        <td>6.5</td>
        <td>0.20</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2015-12-01 00:00:01</td>
        <td>2015-12-01 00:09:28</td>
        <td>2</td>
        <td>3.00</td>
        <td>-73.98892</td>
        <td>40.72699</td>
        <td>-73.97559</td>
        <td>40.69687</td>
        <td>11.0</td>
        <td>0.00</td>
    </tr>
</table>
