<h1>Job Trends Analysis</h1>

<p><b>Interconnected Technology</b></p>
<p>Computers per Year</p>
<%= img_tag "computers_by_year.png"%>

<p>Celphones per Year</p>
<%= img_tag "celphone_by_year.png"%>

<p>Vehicles per Year</p>
<%= img_tag "vehicle_car_by_year.png"%>
